@include touch {
    .desktop-only {
        display: none;
    }
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-item {
    height: 100%;
}

.has-shadow {
    border: none;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.1);
    transition: box-shadow 0.2s, transform 0.2s;
}

.has-shadow:hover {
    transform: translateY(-3px);
    box-shadow: 0 1em 1em -0.125em rgba(10, 10, 10, 0.15), 0 0px 0 1px rgba(10, 10, 10, 0.05);
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

@include mobile {
    .mx-auto-mobile {
        margin-left: auto;
        margin-right: auto;
    }
}

.h-100 {
    height: 100%;
}

a.is-unstyled {
    color: inherit;
}

.hero.is-transparent {
    background-color: transparent;
}

.has-text-grey {
    color: #8b8b8b !important;
}
