@include touch {
    .desktop-only {
        display: none;
    }
}

.navbar-item {
    height: 100%;
}

.has-shadow {
    border: none;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.3), 0 0px 0 1px rgba(10, 10, 10, 0.1);
    transition: 0.2s ease;
}

.has-shadow:hover {
    transform: translateY(-3px);
    box-shadow: 0 1em 1em -0.125em rgba(10, 10, 10, 0.15), 0 0px 0 1px rgba(10, 10, 10, 0.05);
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.h-100 {
    height: 100%;
}
