@media screen and (min-width: 1024px) {
    .feature {
        z-index: 1;
    }
    .features :global(.section):nth-child(odd) :global(.columns) {
        .feature {
            margin-left: -20rem;
        }
    }
    .features :global(.section):nth-child(even) :global(.columns) {
        flex-direction: row-reverse;

        .feature {
            margin-right: -20rem;
        }
    }
}
